* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.container {
	margin: 0 5%;
	padding: 3%;
}

nav {
	height: 70px;
	background-color: pink;
}

p {

/*	padding-top: 5%;*/
}

hr {
	margin: 5%;
}

.contact {
	background-color: pink;
	padding: 5%;
	border-radius: 15px;
	display: block;
	margin: 5% auto;
	text-align: center;
}

img {
	width: 100%;
}

