body {
  background-color: #EEE9CC;
}

button {
  background-color: #DF9896;
}

button a {
  color: #DCDCDC;
}

button:hover {
  background-color: #976C87;
  color: #EEE9CC;
}

footer {
  background-color: #5F3D56;
}

.sectionheader {
  background-color: #C6BDAE;
  border-color: #DF9896;
}

footer li {
  color: #DCDCDC;
}

nav {
  background-color: #5F3D56;
  color: #DCDCDC;
}

footer a {
  color:#DCDCDC;
}
: #DCDCDC;
}
